<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.settings.APP_NOTIFICATION_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.settings.CHANNEL_NOTIFICATION_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
        <intent>
            <action android:name="android.settings.ACCESSIBILITY_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.EDIT" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application
        android:name="com.github.cvzi.screenshottile.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/backup_rules_old"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Transparent"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="s">
        <activity
            android:name="com.github.cvzi.screenshottile.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.task"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.github.cvzi.screenshottile.activities.TutorialActivity"
            android:exported="true"
            android:parentActivityName="com.github.cvzi.screenshottile.activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.NoDisplayActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.DelayScreenshotActivity"
            android:excludeFromRecents="true"
            android:exported="true" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.TransparentContainerActivity"
            android:excludeFromRecents="true"
            android:exported="true" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.SettingsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.task"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.SettingDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.cvzi.screenshottile.activities.AcquireScreenshotPermission"
            android:excludeFromRecents="true"
            android:exported="false" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.TakeScreenshotActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.github.cvzi.screenshottile.activities.PostActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.github.cvzi.screenshottile.services.ScreenshotTileService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:icon="@drawable/ic_stat_name"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="q">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="com.github.cvzi.screenshottile.services.FloatingTileService"
            android:description="@string/tile_floating_subtitle"
            android:enabled="@bool/accessibility_service_enabled"
            android:exported="true"
            android:icon="@drawable/ic_tile_float"
            android:label="@string/tile_floating_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="p">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="com.github.cvzi.screenshottile.services.ScreenshotAccessibilityService"
            android:enabled="@bool/accessibility_service_enabled"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:targetApi="p">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name="com.github.cvzi.screenshottile.services.BasicForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:icon="@drawable/ic_stat_name"
            android:label="@string/tile_label"
            tools:targetApi="q" />

        <receiver
            android:name="com.github.cvzi.screenshottile.IntentHandler"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.github.cvzi.screenshottile.SCREENSHOT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.github.cvzi.screenshottile.SimpleWidgetBoth"
            android:exported="true"
            android:label="@string/left_screenshot_right_menu">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget" />
        </receiver>
        <receiver
            android:name="com.github.cvzi.screenshottile.SimpleWidgetScreenshot"
            android:exported="true"
            android:label="@string/take_screenshot">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget" />
        </receiver>
        <receiver
            android:name="com.github.cvzi.screenshottile.SimpleWidgetSettings"
            android:exported="true"
            android:label="@string/open_settings">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget" />
        </receiver>
        <receiver
            android:name="com.github.cvzi.screenshottile.SimpleWidgetFloatingButton"
            android:exported="true"
            android:label="@string/setting_floating_button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/floating_button_widget" />
        </receiver>

        <service
            android:name=".assist.MyVoiceInteractionService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/interaction_service" />
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
            android:name=".assist.MyVoiceInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />
    </application>

</manifest>
