<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.ipcjs.screenshottile"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Transparent"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.task"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".NoDisplayActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".DelayScreenshotActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".dialog.TransparentContainerActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".dialog.ContainerActivity"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.task"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SettingDialogActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcquireScreenshotPermission"
            android:excludeFromRecents="true" />
        <activity
            android:name=".TakeScreenshotActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".ScreenshotTileService"
            android:foregroundServiceType="mediaProjection"
            android:icon="@drawable/ic_stat_name"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="q">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
